@font-face {
    font-family: 'Protest Guerrilla';
    src: url('../font/ProtestGuerrilla-Regular.ttf') format('truetype'); /* Ensure this path is correct */
    font-weight: normal;
    font-style: normal;
}

/* Navbar Logo */
.navbar-brand {
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 28px;
    color: rgb(224, 77, 3);
    letter-spacing: 2px;
}

/* Login Button */
.btn-login {
    background-color: rgb(224, 77, 3);
    color: white;
    border-color: rgb(224, 77, 3);
}

/* Sign Up Button */
.btn-signup {
    background-color: white;
    color: rgb(224, 77, 3);
    border-color: rgb(224, 77, 3);
}

/* Style for inactive tabs */
.nav-underline .nav-link {
    color: black;
}

/* Custom Orange Button */
.btn-orange {
    background-color: rgb(224, 77, 3);
    color: white;
    border-color: rgb(224, 77, 3);
}

/* Card Size */
.card {
        width: 330px;
        height: 470px;
        margin-bottom: 20px;
        padding: 8px;
}

.custom-footer {
    background-color: rgb(237, 140, 92);
    color: white;
}

.card-text p {
    margin-bottom: 10px;
}

.card-link {
    color: rgb(224, 77, 3);
    text-decoration: none;
}